<ion-content [fullscreen]="true">
  <div class="font-[sans-serif]">
    <div class="flex flex-col items-center justify-start py-6 px-4">
      <div class="max-w-md w-full">
        <!-- <h1 class="text-7xl text-center text-[#4B972B] font-bold uppercase mb-5">reuse</h1> -->

        <div class="p-8 rounded-2xl bg-white shadow">
          <h2 class="text-gray-800 text-center text-2xl font-bold">Recuperar Contraseña</h2>
          <form [formGroup]="recoverForm" (ngSubmit)="onSubmit()" class="mt-8 space-y-4">
            <!-- Email -->
            <div>
              <label class="text-gray-800 text-sm mb-2 block">Email</label>
              <div class="relative flex items-center">
                <input 
                  formControlName="email" 
                  type="email" 
                  required 
                  class="w-full text-gray-800 bg-white text-sm border border-gray-300 px-4 py-3 rounded-md outline-none"
                  [ngClass]="{
                    'outline-green-600': recoverForm.controls['email'].valid, 
                    'outline-red-600': recoverForm.controls['email'].invalid && recoverForm.controls['email'].touched
                  }"
                  placeholder="Ingresa tu Email" />
                  <svg xmlns="http://www.w3.org/2000/svg" fill="#bbb" stroke="#bbb" class="w-4 h-4 absolute right-4" viewBox="0 0 24 24">
                    <circle cx="10" cy="7" r="6"></circle>
                    <path d="M14 15H6a5 5 0 0 0-5 5 3 3 0 0 0 3 3h12a3 3 0 0 0 3-3 5 5 0 0 0-5-5zm8-4h-2.59l.3-.29a1 1 0 0 0-1.42-1.42l-2 2a1 1 0 0 0 0 1.42l2 2a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42l-.3-.29H22a1 1 0 0 0 0-2z"></path>
                  </svg>
              </div>
              <small *ngIf="recoverForm.controls['email'].hasError('invalidEmail') && recoverForm.controls['email'].touched" class="text-red-500">
                El correo debe ser una dirección válida (ej. usuario&#64;dominio.com).
              </small>
              <small *ngIf="recoverForm.controls['email'].hasError('email') && recoverForm.controls['email'].touched" class="text-red-500">
                El correo electrónico no tiene un formato válido.
              </small>                         
            </div>

            <!-- Submit Button -->
            <div class="!mt-8">
              <button 
                type="submit" 
                class="w-full py-3 px-4 text-sm tracking-wide rounded-lg text-white bg-green-600 hover:bg-green-700 focus:outline-none"
                [disabled]="recoverForm.invalid">
                Recuperar Contraseña
              </button>
            </div>
            <p class="text-gray-800 text-sm !mt-8 text-center">
              ¿Ya tienes una cuenta? 
              <a 
                class="text-green-600 hover:underline ml-1 whitespace-nowrap font-semibold" 
                routerLink="/login">Inicia sesión aquí</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</ion-content>