<ion-content [fullscreen]="true">
  <ion-title class="ion-text-center">Chats</ion-title>
  <ion-list>
    <ion-item color="medium">
      <ion-avatar slot="start">
        <img src="assets/img/beautiful-photo.jpg"   />
      </ion-avatar>
      <ion-label>
        <h2>Gary</h2>
        <p>Última foto subida: Hora</p>
        <p>Recuerdos añadidos</p>
      </ion-label>
      <ion-badge color="danger">🔥62</ion-badge>
      <ion-icon slot="end" name="camera-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
